@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model IndexModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = @Localizer["ENTITY_DONOR_CATALOG_NAME"];
}

@section Introduction {
    @HtmlLocalizer["ENTITY_DONOR_HELP"]

    <p><a class="btn btn-primary" asp-page="Create">@Localizer["CREATE"]</a></p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Donors[0].ShortName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Donors[0].FullName)
    </th>
}

@foreach (var item in Model.Donors)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.FullName)
        </td>
        <td class="align-middle">
            <table-buttons>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
                <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
            </table-buttons>
        </td>
    </tr>
}
