@page
@model ConselvaBudget.Areas.Spending.Pages.Expenses.DetailsModel
@using ConselvaBudget.Authorization
@using ConselvaBudget.Models

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expense</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Vendor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ExpenseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ExpenseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.Comments)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.Comments)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Expense.ActivityBudget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Expense.ActivityBudget.Id)
        </dd>
    </dl>
</div>

<div class="d-flex gap-1">
    <a class="btn btn-secondary" asp-page="./Edit" asp-route-id="@Model.Expense.Id">Edit expense</a>
    <a class="btn btn-secondary" asp-page="/Requests/Details" asp-route-id="@Model.Expense.SpendingRequestId">Back</a>
</div>
