@page
@model DeleteModel

@{
    Layout = "/Pages/Shared/_DeleteLayout.cshtml";
    ViewData["Title"] = "Delete Deposit";
}

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Deposit.Amount)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Deposit.Amount)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Deposit.Date)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Deposit.Date)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Deposit.Comments)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Deposit.Comments)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Deposit.Project)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Deposit.Project.Name)
</dd>


@section DeleteFormContents {
    <input type="hidden" asp-for="Deposit.Id" />
    <input class="btn btn-danger" type="submit" value="Delete">
    <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
}
