@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @Localizer["EDIT"];
    ViewData["Entity"] = @Localizer["ENTITY_EQUIVALENT_ACCOUNT_NAME"];
}

<h2>@Model.Donor.ShortName</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Donor.Id" />
@foreach (var key in Model.AccountBaseNames.Keys)
{
    <div class="row mb-3">
        <label asp-for="EquivalentAccountNames[key]" class="col-sm-5 col-form-label">@Model.AccountBaseNames[key]</label>
        <div class="col-sm-7">
            <input asp-for="EquivalentAccountNames[key]" class="form-control" />
        </div>
    </div>
}
<div class="col-12">
    <save-button></save-button>
    <cancel-button asp-page="./Index"></cancel-button>
</div>

@section FormInfo {
    <h1 class="h4">@Localizer["ENTITY_EQUIVALENT_ACCOUNT_CATALOG_NAME"]</h1>
    @HtmlLocalizer["ENTITY_EQUIVALENT_ACCOUNT_HELP"]
}
