@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlSharedLocalizer
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = @SharedLocalizer["AREA_ADMINISTRATION"];
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<h2 class="h4">@Localizer["TABLE_OF_CONTENTS"]</h2>
<ul>
    <li>
        <a href="#catalogs">@Localizer["CATALOGS"]</a>
        <ul>
            <li><a href="#accounts">@SharedLocalizer["ENTITY_ACCOUNT_CATALOG_NAME"]</a></li>
            <li><a href="#organizations">@SharedLocalizer["ENTITY_ORGANIZATION_CATALOG_NAME"]</a></li>
            <li><a href="#donors">@SharedLocalizer["ENTITY_DONOR_CATALOG_NAME"]</a></li>
            <li><a href="#equivalent-accounts">@SharedLocalizer["ENTITY_EQUIVALENT_ACCOUNT_CATALOG_NAME"]</a></li>
            <li><a href="#projects">@SharedLocalizer["ENTITY_PROJECT_CATALOG_NAME"]</a></li>
        </ul>
    </li>
    <li>
        <a href="#finance">@Localizer["FINANCE"]</a>
        <ul>
            <li><a href="#deposits">@SharedLocalizer["ENTITY_DEPOSIT_CATALOG_NAME"]</a></li>
        </ul>
    </li>
    <li>
        <a href="#inventory">@Localizer["INVENTORY"]</a>
        <ul>
            <li><a href="#vehicles">@SharedLocalizer["ENTITY_VEHICLE_CATALOG_NAME"]</a></li>
        </ul>
    </li>
    <li>
        <a href="#access">@Localizer["ACCESS"]</a>
        <ul>
            <li><a href="#roles">Roles</a></li>
        </ul>
    </li>
</ul>


<h2 class="pb-2 border-bottom" id="catalogs">@Localizer["CATALOGS"]</h2>
<p>@Localizer["CATALOGS_DESCRIPTION"]</p>

<h3 id="accounts">@SharedLocalizer["ENTITY_ACCOUNT_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_ACCOUNT_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Catalogs/Accounts/Index">@SharedLocalizer["ENTITY_ACCOUNT_CATALOG_NAME"]</a>
</p>

<h3 id="organizations">@SharedLocalizer["ENTITY_ORGANIZATION_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_ORGANIZATION_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Catalogs/Organizations/Index">@SharedLocalizer["ENTITY_ORGANIZATION_CATALOG_NAME"]</a>
</p>

<h3 id="donors">@SharedLocalizer["ENTITY_DONOR_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_DONOR_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Catalogs/Donors/Index">@SharedLocalizer["ENTITY_DONOR_CATALOG_NAME"]</a>
</p>

<h3 id="equivalent-accounts">@SharedLocalizer["ENTITY_EQUIVALENT_ACCOUNT_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_EQUIVALENT_ACCOUNT_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Catalogs/Equivalents/Index">@SharedLocalizer["ENTITY_EQUIVALENT_ACCOUNT_CATALOG_NAME"]</a>
</p>

<h3 id="projects">@SharedLocalizer["ENTITY_PROJECT_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_PROJECT_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Catalogs/Projects/Index">@SharedLocalizer["ENTITY_PROJECT_CATALOG_NAME"]</a>
</p>

<h2 class="pb-2 border-bottom" id="finance">@Localizer["FINANCE"]</h2>
<p>@Localizer["FINANCE_DESCRIPTION"]</p>

<h3 id="deposits">@SharedLocalizer["ENTITY_DEPOSIT_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_DEPOSIT_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Finance/Deposits/Index">@SharedLocalizer["ENTITY_DEPOSIT_CATALOG_NAME"]</a>
</p>

<h2 class="pb-2 border-bottom" id="inventory">@Localizer["INVENTORY"]</h2>
<p>@Localizer["INVENTORY_DESCRIPTION"]</p>

<h3 id="vehicles">@SharedLocalizer["ENTITY_VEHICLE_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_VEHICLE_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Inventory/Vehicles/Index">@SharedLocalizer["ENTITY_VEHICLE_CATALOG_NAME"]</a>
</p>

<h2 class="pb-2 border-bottom" id="access">@Localizer["ACCESS"]</h2>
<p>@Localizer["ACCESS_DESCRIPTION"]</p>

<h3 id="roles">@SharedLocalizer["ENTITY_ROLE_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_ROLE_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Access/Roles/Index">@SharedLocalizer["ENTITY_ROLE_CATALOG_NAME"]</a>
</p>

<h3 id="notifications">@SharedLocalizer["ENTITY_NOTIFICATION_CATALOG_NAME"]</h3>
@HtmlSharedLocalizer["ENTITY_NOTIFICATION_HELP"]
<p>
    <a class="btn btn-primary" asp-page="Access/Notifications/Index">@SharedLocalizer["ENTITY_NOTIFICATION_CATALOG_NAME"]</a>
</p>
