@page
@model ConselvaBudget.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "Administration dashboard";
}

<h1 class="pb-2 border-bottom">Administration</h1>

<p>Manage the main catalogs used by the database. These serve as the base upon the rest of the data is created.</p>

<h2>Accounts</h2>

<p>Accounts catalog used by the database.</p>

<p><a class="btn btn-primary" asp-page="Accounts/Create">Create new</a></p>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Accounts[0].Description)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Accounts)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-secondary btn-sm" asp-page="Accounts/Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-danger btn-sm" asp-page="Accounts/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h2>Programs</h2>

<p>First level in the program/subprogram hierarchy.</p>

<p><a class="btn btn-primary" asp-page="Programs/Create">Create new</a></p>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPrograms[0].Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusinessPrograms[0].Name)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BusinessPrograms)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-secondary btn-sm" asp-page="Programs/Edit" asp-route-id="@item.Id">Edit</a>
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-danger btn-sm" asp-page="Programs/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<h2>Subprograms</h2>

<p>Second level in the program/subprogram hierarchy. Every <b>Subprogram</b> is under a <b>Program</b>.</p>

@foreach (var program in Model.BusinessPrograms)
{
    <div class="card mb-2">
        <div class="card-body">
            <h5 class="card-title">@Html.DisplayFor(modelItem => program.DisplayName)</h5>
            <p>
                <a class="btn btn-primary btn-sm" asp-page="Subprograms/Create" asp-route-programId="@program.Id">Create subprogram</a>
            </p>
            <ul class="list-group">
                @foreach (var subprogram in program.BusinessSubprograms.OrderBy(s => s.Code))
                {
                    <li class="list-group-item p-3">
                        <div class="d-flex mb-2">
                            <h6 class="flex-grow-1">@Html.DisplayFor(modelItem => subprogram.DisplayName)</h6>
                            <div>
                                <a class="btn btn-secondary btn-sm" asp-page="Subprograms/Edit" asp-route-id="@subprogram.Id">Edit</a>
                                <a class="btn btn-danger btn-sm" asp-page="Subprograms/Delete" asp-route-id="@subprogram.Id">Delete</a>
                            </div>
                        </div>
                        @if (subprogram.AccountAssignments.Count > 0)
                        {
                            <ul class="list-group">
                                @foreach (var assignment in subprogram.AccountAssignments.OrderBy(s => s.Account.Code))
                                {
                                    var fullAccountName = $"{program.Code} - {subprogram.Code} - {assignment.Account.DisplayName}";
                                    <li class="list-group-item">@fullAccountName</li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="alert alert-warning mb-0" role="alert">
                                <span>This subprogram contains no assigned accounts.</span>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}

<h2>Projects</h2>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Comments)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Segment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
            </tr>
        }
    </tbody>
</table>