@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model IndexModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = @Localizer["ENTITY_ROLE_CATALOG_NAME"];
}

@section Introduction {
    @HtmlLocalizer["ENTITY_ROLE_HELP"]
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.UserAssignments[0].UserName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.UserAssignments[0].Roles)
    </th>
}

@foreach (var item in Model.UserAssignments)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Roles)
        </td>
        <td class="align-middle">
            <table-buttons>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
            </table-buttons>
        </td>
    </tr>
}
