@page
@model DeleteModel

@{
    Layout = "/Pages/Shared/_DeleteLayout.cshtml";
    ViewData["Title"] = "Delete Project";
}

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.Donor)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.Donor.Name)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.Name)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.Name)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.ShortName)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.ShortName)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.StartDate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.StartDate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.EndDate)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.EndDate)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.Segment)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.Segment)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.Deposits)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.Deposits)
</dd>
<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Project.Comments)
</dt>
<dd class="col-sm-10">
    @Html.DisplayFor(model => model.Project.Comments)
</dd>

@section DeleteFormContents {
    <input type="hidden" asp-for="Project.Id" />
    <input class="btn btn-danger" type="submit" value="Delete">
    <a class="btn btn-secondary" asp-page="/Index" asp-fragment="projects">Cancel</a>
}
