@page
@model ConselvaBudget.Areas.Administration.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<p><a class="btn btn-success" asp-area="Administration" asp-page="/Index" asp-fragment="projects">Go to Administration dashboard</a></p>

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ShortName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].EndDate)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Segment)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
            </tr>
        }
    </tbody>
</table>
