@page
@model IndexModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Expenses";
}

@section Introduction {
    <p>Request an expense, after approval it will be reflected in the Project budget.</p>

    <p><a class="btn btn-primary" asp-page="Create">Create expense</a></p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].Description)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].Vendor)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].Amount)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].ExpenseDate)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].ActivityBudget.Activity.Result.Project)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].ActivityBudget.Activity)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].ActivityBudget.AccountAssignment)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Expenses[0].Status)
    </th>
}

@foreach (var item in Model.Expenses)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Vendor)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ExpenseDate)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ActivityBudget.Activity.Result.Project.Name)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ActivityBudget.Activity.Name)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ActivityBudget.AccountAssignment.DisplayName)
        </td>
        <td class="align-middle">
            <partial name="_StatusBadgePartial" model="item.Status" />
        </td>
        <td class="align-middle">
            <table-buttons>
                <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
                <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
            </table-buttons>
        </td>
    </tr>
}
