@page
@inject IViewLocalizer Localizer
@model IndexModel
@{
    ViewData["Title"] = @Localizer["REPORTING_TITLE"];
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<p>@Localizer["REPORTING_DESCRIPTION"]</p>

<h2>@Localizer["REPORT_GLOBAL_BALANCE_TITLE"]</h2>

<p>@Localizer["REPORT_GLOBAL_BALANCE_DESCRIPTION"]</p>

<p>
    <a class="btn btn-primary" asp-page="Balance/Index"><i class="bi bi-download"></i> @Localizer["DOWNLOAD"]</a>
</p>

<h2>@Localizer["REPORT_GLOBAL_EXPENSE_BREAKDOWN_TITLE"]</h2>

<p>@Localizer["REPORT_GLOBAL_EXPENSE_BREAKDOWN_DESCRIPTION"]</p>

<p>
    <a class="btn btn-primary" asp-page="Expenses/Index"><i class="bi bi-download"></i> @Localizer["DOWNLOAD"]</a>
</p>
