@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model IndexModel

@{
    ViewData["Title"] = @Localizer["PAGE_TITLE"].Value;
    bool showAll = Request.Query["showAll"] == "true";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-sm table-bordered table-striped caption-top">
    @if (showAll)
    {
        <caption>@Localizer["ALL_PROJECTS"]</caption>
    }
    else
    {
        <caption>@Localizer["CURRENTLY_ACTIVE"]</caption>
    }
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ShortName)
            </th>
            <th style="width: 1px; white-space:nowrap;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Segment)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-primary btn-sm" asp-page="./Manage" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_SELECT"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (!showAll)
{
    <a class="btn btn-sm btn-secondary" role="button" asp-route-showAll="true">@Localizer["BUTTON_SHOW_ALL_PROJECTS"]</a>
}
else
{
    <a class="btn btn-sm btn-secondary" role="button" asp-route-showAll="">@Localizer["BUTTON_ONLY_SHOW_ACTIVE"]</a>
}

@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".use-data-tables").DataTable({
                "iDisplayLength": 50,
            });
        });
    </script>
}
