@page
@model IndexModel

@{
    ViewData["Title"] = "Projects";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-bordered table-striped caption-top use-data-tables">
    <caption>Currently active Projects.</caption>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Segment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projects[0].ShortName)
            </th>
            <th style="width: 1px; white-space:nowrap;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Projects)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Segment)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td class="align-middle text-center">
                    <a class="btn btn-primary btn-sm" asp-page="./Manage" asp-route-id="@item.Id">Manage</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section CSS {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css" />
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".use-data-tables").DataTable({
                "iDisplayLength": 50,
            });
        });
    </script>
}
