@page
@model ManageModel

@{
    ViewData["Title"] = "Manage Project";
}

<h1 class="border-bottom pb-2">@Html.DisplayFor(model => model.Project.Name)</h1>

<p>@Html.DisplayFor(model => model.Project.Comments)</p>

<p>
    <a class="btn btn-primary" asp-page="/Results/Create" asp-route-projectId="@Model.Project.Id">Create Result</a>
</p>

@foreach (var result in Model.Project.Results)
{
    <div class="card mb-2">
        <div class="card-header d-flex align-items-center">
            <h2 class="h5 mb-0 flex-grow-1">@Html.DisplayFor(modelItem => result.Name)</h2>
            <div>
                <a class="btn btn-secondary btn-sm" asp-page="/Results/Edit" asp-route-id="@result.Id">Edit</a>
                <a class="btn btn-danger btn-sm" asp-page="/Results/Delete" asp-route-id="@result.Id">Delete</a>
            </div>
        </div>
        <div class="card-body">
            <p>
                <a class="btn btn-primary" asp-page="/Activities/Create" asp-page="Create">Add activity</a>
            </p>
            <h3 class="h6 text-body-secondary">Activities</h3>
            <ul class="list-group">
                @foreach (var activity in result.Activities)
                {
                    <li class="list-group-item">
                        <div class="d-flex w-100 justify-content-between">
                            <h4 class="h5 mb-2">@Html.DisplayFor(model => activity.Name)</h4>
                            <small class="text-body-secondary">
                                @Html.DisplayNameFor(model => activity.DueDate): @Html.DisplayFor(model => activity.DueDate)
                            </small>
                        </div>
                        <p>
                            <a class="btn btn-secondary btn-sm" asp-page="Budgets/Create" asp-route-programId="@activity.Id">Create budget</a>
                        </p>
                        @if (activity.ActivityBudgets.Count > 0)
                        {
                            <ul class="list-group">
                                @foreach (var budget in activity.ActivityBudgets)
                                {
                                    <li class="list-group-item">
                                        <p>
                                            @Html.DisplayFor(model => budget.Comments)
                                        </p>
                                    </li>
                                }
                            </ul>
                        }
                        else
                        {
                            <div class="alert alert-warning mb-0" role="alert">
                                <span>This activity has no budget.</span>
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
}


<h2>Additional project details</h2>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.ShortName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.ShortName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.StartDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.StartDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.EndDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.EndDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.Segment)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.Segment)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Project.Comments)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Project.Comments)
    </dd>
</dl>

<div>
    <a asp-page="./Index">Back to List</a>
</div>
