@page
@inject IViewLocalizer Localizer
@using ConselvaBudget.Authorization
@model ManageModel

@{
    ViewData["Title"] = $"{Localizer["TITLE_START"].Value} - {Model.Project.Name}";
}

<h1 class="border-bottom pb-2">@Html.DisplayFor(model => model.Project.Name)</h1>

<p class="lead">
    @Html.DisplayFor(model => model.Project.Donor.ShortName) | @Html.DisplayFor(model => model.Project.ShortName)
</p>

<p>@Html.DisplayFor(model => model.Project.Description)</p>

<div class="row">
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.TotalBudget)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.TotalBudget)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.TotalDeposits)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.TotalDeposits)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.PendingToDeposit)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.PendingToDeposit)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.TotalExpenses)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.TotalExpenses)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.RemainingBudget)
        </h2>
        <p class="@(Model.Project.RemainingBudget < 0 ? "text-danger" : "")">@Html.DisplayFor(model => model.Project.RemainingBudget)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.RemainingInBank)
        </h2>
        <p class="@(Model.Project.RemainingInBank < 0 ? "text-danger" : "")">@Html.DisplayFor(model => model.Project.RemainingInBank)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.StartDate)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.StartDate)</p>
    </div>
    <div class="col-md-6 col-lg-4">
        <h2 class="h6 text-body-secondary">
            @Html.DisplayNameFor(model => model.Project.EndDate)
        </h2>
        <p>@Html.DisplayFor(model => model.Project.EndDate)</p>
    </div>
</div>

@if (User.IsInRole(Roles.Management))
{
    <div class="mb-2">
        <a class="btn btn-primary btn-sm" asp-page="/Results/Create" asp-route-project="@Model.Project.Id">@Localizer["BUTTON_CREATE_RESULT"]</a>
    </div>
}

@foreach (var result in Model.Project.Results.OrderBy(r => r.Code))
{
    <div class="card mb-2" id="result-@result.Id">
        <div class="card-header d-flex align-items-center gap-2">
            <h2 class="h4 mb-0 flex-grow-1">@Html.DisplayFor(model => result.Code)</h2>
            <div class="d-flex gap-1">
                <button class="btn btn-success btn-sm" type="button" data-bs-toggle="collapse"
                        data-bs-target="#result-body-@result.Id" aria-expanded="true"
                        aria-controls="result-body-@result.Id"
                        title="Collapse this Result section.">
                    <i class="bi bi-chevron-expand"></i>
                </button>
                @if (User.IsInRole(Roles.Management))
                {
                    <edit-button asp-page="/Results/Edit" asp-route-id="@result.Id"></edit-button>
                    <delete-button asp-page="/Results/Delete" asp-route-id="@result.Id"></delete-button>
                }
            </div>
        </div>
        <div class="card-body collapse show" id="result-body-@result.Id">
            @if (!string.IsNullOrEmpty(result.Description))
            {
                <p>@Html.DisplayFor(model => result.Description)</p>
            }
            @if (User.IsInRole(Roles.Management))
            {
                <div class="mb-2">
                    <a class="btn btn-primary btn-sm" asp-page="/Activities/Create" asp-route-result="@result.Id">@Localizer["BUTTON_CREATE_ACTIVITY"]</a>
                </div>
            }
            <h3 class="h6 text-body-secondary">Activities</h3>
            @if (result.Activities.Count > 0)
            {
                <ul class="list-group">
                    @foreach (var activity in result.Activities.OrderBy(a => a.Code))
                    {
                        <li class="list-group-item p-3" id="activity-@activity.Id">
                            <div class="d-flex w-100 align-items-center gap-2">
                                <h4 class="mb-2 flex-grow-1">@Html.DisplayFor(model => activity.Code)</h4>
                                <div class="d-flex gap-1">
                                    <button class="btn btn-success btn-sm" type="button" data-bs-toggle="collapse"
                                            data-bs-target="#activity-body-@activity.Id" aria-expanded="true"
                                            aria-controls="activity-body-@activity.Id"
                                            title="Collapse this Activity section.">
                                        <i class="bi bi-chevron-expand"></i>
                                    </button>
                                    @if (User.IsInRole(Roles.Management))
                                    {
                                        <edit-button asp-page="/Activities/Edit" asp-route-projectId="@Model.Project.Id" asp-route-id="@activity.Id"></edit-button>
                                        <delete-button asp-page="/Activities/Delete" asp-route-id="@activity.Id"></delete-button>
                                    }
                                </div>
                            </div>
                            <div class="collapse show" id="activity-body-@activity.Id">
                                <p>
                                    @Html.DisplayFor(model => activity.Description)
                                </p>
                                @if (User.IsInRole(Roles.Management))
                                {
                                    <div class="mb-2">
                                        <a class="btn btn-primary btn-sm" asp-page="/Budgets/Create" asp-route-projectId="@Model.Project.Id" asp-route-activityId="@activity.Id">@Localizer["BUTTON_CREATE_BUDGET"]</a>
                                    </div>
                                }
                                <h4 class="h6 text-body-secondary">Budget</h4>
                                @if (activity.ActivityBudgets.Count > 0)
                                {
                                    <div class="table-responsive-md">
                                        <table class="table table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayNameFor(model => activity.ActivityBudgets.ToList()[0].AccountAssignment.Account)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => activity.ActivityBudgets.ToList()[0].Amount)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => activity.ActivityBudgets.ToList()[0].TotalExpenses)
                                                    </th>
                                                    <th>
                                                        @Html.DisplayNameFor(model => activity.ActivityBudgets.ToList()[0].RemainingBudget)
                                                    </th>
                                                    <th style="width: 1px; white-space:nowrap;"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var budget in activity.ActivityBudgets.OrderBy(b => b.AccountAssignment.DisplayName))
                                                {
                                                    <tr>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => budget.AccountAssignment.DisplayName)
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => budget.Amount)
                                                        </td>
                                                        <td class="align-middle">
                                                            @Html.DisplayFor(modelItem => budget.TotalExpenses)
                                                        </td>
                                                        <td class="align-middle">
                                                            <span class="@(budget.RemainingBudget < 0 ? "text-danger" : "")">@Html.DisplayFor(modelItem => budget.RemainingBudget)</span>
                                                        </td>
                                                        <td class="align-middle">
                                                            <div class="d-flex gap-1 justify-content-center">
                                                                <button class="btn btn-success btn-sm" type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#budget-expenses-@budget.Id" aria-expanded="false"
                                                                        aria-controls="budget-expenses-@budget.Id"
                                                                        title="Expand details such as comments and Expenses made to this budget.">
                                                                    <i class="bi bi-chevron-expand"></i>
                                                                </button>
                                                                @if (User.IsInRole(Roles.Management))
                                                                {
                                                                    <edit-button asp-page="/Budgets/Edit" asp-route-id="@budget.Id"></edit-button>
                                                                    <delete-button asp-page="/Budgets/Delete" asp-route-id="@budget.Id"></delete-button>
                                                                }
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="collapse" id="budget-expenses-@budget.Id">
                                                        <td colspan="6" class="p-3">
                                                            <h5 class="h6 text-body-secondary">@Html.DisplayNameFor(model => activity.ActivityBudgets.ToList()[0].Comments)</h5>
                                                            <p>
                                                                @Html.DisplayFor(model => budget.Comments)
                                                            </p>
                                                            @if (budget.ExpenseInvoices.Count > 0)
                                                            {
                                                                <h5 class="h6 text-body-secondary">Expenses</h5>
                                                                <table class="table table-sm table-bordered table-striped">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => budget.ExpenseInvoices.ToList()[0].InvoiceDate)
                                                                            </th>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => budget.ExpenseInvoices.ToList()[0].Vendor)
                                                                            </th>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => budget.ExpenseInvoices.ToList()[0].InvoiceAmount)
                                                                            </th>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => budget.ExpenseInvoices.ToList()[0].InvoiceNumber)
                                                                            </th>
                                                                            <th>
                                                                                @Html.DisplayNameFor(model => budget.ExpenseInvoices.ToList()[0].Description)
                                                                            </th>
                                                                            <th style="width: 1px; white-space:nowrap;"></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        @foreach (var item in budget.ExpenseInvoices)
                                                                        {
                                                                            <tr>
                                                                                <td class="align-middle">
                                                                                    @Html.DisplayFor(modelItem => item.InvoiceDate)
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    @Html.DisplayFor(modelItem => item.Vendor)
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    @Html.DisplayFor(modelItem => item.InvoiceAmount)
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    @Html.DisplayFor(modelItem => item.InvoiceNumber)
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    @Html.DisplayFor(modelItem => item.Description)
                                                                                </td>
                                                                                <td class="align-middle">
                                                                                    <table-buttons>
                                                                                        <details-button asp-area="Spending" asp-page="/ExpenseInvoices/Details" asp-route-id="@item.Id"></details-button>
                                                                                    </table-buttons>
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                            }
                                                            else
                                                            {
                                                                <div class="alert alert-info mb-0" role="alert">
                                                                    <span>No expenses have been made to this budget.</span>
                                                                </div>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 col-lg-4">
                                            <h4 class="h6 text-body-secondary">
                                                @Html.DisplayNameFor(model => activity.TotalBudget)
                                            </h4>
                                            <p>@Html.DisplayFor(model => activity.TotalBudget)</p>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <h4 class="h6 text-body-secondary">
                                                @Html.DisplayNameFor(model => activity.TotalExpenses)
                                            </h4>
                                            <p>@Html.DisplayFor(model => activity.TotalExpenses)</p>
                                        </div>
                                        <div class="col-md-6 col-lg-4">
                                            <h4 class="h6 text-body-secondary">
                                                @Html.DisplayNameFor(model => activity.RemainingBudget)
                                            </h4>
                                            <p class="@(activity.RemainingBudget < 0 ? "text-danger" : "")">@Html.DisplayFor(model => activity.RemainingBudget)</p>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="alert alert-warning mb-0" role="alert">
                                        <span>This activity has no budget.</span>
                                    </div>
                                }
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <div class="alert alert-warning mb-0" role="alert">
                    <span>No activities have been created for this result.</span>
                </div>
            }
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <h3 class="h6 text-body-secondary">
                        @Html.DisplayNameFor(model => result.TotalBudget)
                    </h3>
                    <p class="mb-0">@Html.DisplayFor(model => result.TotalBudget)</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h3 class="h6 text-body-secondary">
                        @Html.DisplayNameFor(model => result.TotalExpenses)
                    </h3>
                    <p class="mb-0">@Html.DisplayFor(model => result.TotalExpenses)</p>
                </div>
                <div class="col-md-6 col-lg-4">
                    <h3 class="h6 text-body-secondary">
                        @Html.DisplayNameFor(model => result.RemainingBudget)
                    </h3>
                    <p class="mb-0 @(result.RemainingBudget < 0 ? "text-danger" : "")">@Html.DisplayFor(model => result.RemainingBudget)</p>
                </div>
            </div>
        </div>
    </div>
}
