@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model EditModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @Localizer["EDIT"];
    ViewData["Entity"] = @Localizer["ENTITY_DEPOSIT_NAME"];
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<input type="hidden" asp-for="Deposit.Id" />
<div class="col-12">
    <label asp-for="Deposit.ProjectId" class="form-label"></label>
    <select asp-for="Deposit.ProjectId" class="form-select" asp-items="@Model.ProjectSL"></select>
    <span asp-validation-for="Deposit.ProjectId" class="text-danger"></span>
</div>
<div class="col-12 col-sm-6">
    <label asp-for="Deposit.Amount" class="form-label"></label>
    <div class="input-group">
        <span class="input-group-text">$</span>
        <input asp-for="Deposit.Amount" class="form-control" />
    </div>
    <span asp-validation-for="Deposit.Amount" class="text-danger"></span>
</div>
<div class="col-12 col-sm-6">
    <label asp-for="Deposit.Date" class="form-label"></label>
    <input asp-for="Deposit.Date" class="form-control" />
    <span asp-validation-for="Deposit.Date" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="Deposit.Comments" class="form-label"></label>
    <input asp-for="Deposit.Comments" class="form-control" />
    <span asp-validation-for="Deposit.Comments" class="text-danger"></span>
</div>
<div class="col-12">
    <save-button></save-button>
    <cancel-button asp-page="./Index"></cancel-button>
</div>

@section PreForm {
    <h2 class="h4">@Localizer["ENTITY_DEPOSIT_CATALOG_NAME"]</h2>
    @HtmlLocalizer["ENTITY_DEPOSIT_HELP"]
}

