@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model IndexModel

@{
    ViewData["Title"] = @SharedLocalizer["ENTITY_DEPOSIT_CATALOG_NAME"];
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<p>@Localizer["DEPOSIT_INDEX_DESCRIPTION"]</p>

<p><a class="btn btn-primary" asp-page="Create">@SharedLocalizer["CREATE"]</a></p>

<h2>@Localizer["DEPOSIT_INDEX_SELECT_HEADING"]</h2>

<form asp-page="Project" method="get">
    <select name="id" class="form-select mb-2" asp-items="@Model.ProjectSL" aria-label="@Localizer["DEPOSIT_INDEX_SELECT_HEADING"]"></select>
    <button type="submit" class="btn btn-primary"><i class="bi bi-list-check"></i> @Localizer["DEPOSIT_INDEX_SUBMIT"]</button>
</form>
