@page
@inject IStringLocalizer<Resources.SharedResource> Localizer
@inject IHtmlLocalizer<Resources.SharedResource> HtmlLocalizer
@model ProjectModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = @Localizer["ENTITY_DEPOSIT_CATALOG_NAME"];
}

@section PreTable {
    @HtmlLocalizer["ENTITY_DEPOSIT_HELP"]

    <p><a class="btn btn-primary" asp-page="Create" asp-route-project="@Model.Project.Id">@Localizer["CREATE"]</a></p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Project.Deposits.ToList()[0].Amount)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Project.Deposits.ToList()[0].Date)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Project.Deposits.ToList()[0].Comments)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Project.Deposits.ToList()[0].Project)
    </th>
}

@foreach (var item in Model.Project.Deposits.OrderBy(d => d.Date))
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Project.Name)
        </td>
        <td class="align-middle">
            <table-buttons>
                <edit-button asp-page="Edit" asp-route-id="@item.Id"></edit-button>
                <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
            </table-buttons>
        </td>
    </tr>
}
