@page
@model ConselvaBudget.Areas.Spending.Pages.ExpenseInvoices.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ExpenseInvoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.InvoiceAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.InvoiceAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Vendor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.CreatedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.CreatedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ModifiedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ModifiedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ActivityBudget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ActivityBudget.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Request)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Request.Description)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ExpenseInvoice.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
