@page
@model ConselvaBudget.Areas.Spending.Pages.ExpenseInvoices.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExpenseInvoice</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.TaxWithheld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.TaxWithheld)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.NetAmount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.NetAmount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Vendor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Vendor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.PaymentMethod)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.InvoiceDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.InvoiceDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.InvoiceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.PdfUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.PdfUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.XmlUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.XmlUrl)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.CreatedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.CreatedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ModifiedByUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ModifiedByUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ModifiedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ModifiedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.ActivityBudget)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.ActivityBudget.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseInvoice.Request)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpenseInvoice.Request.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ExpenseInvoice.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
