@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model CreateModel

@{
    Layout = "/Pages/Shared/_CreateEditLayout.cshtml";
    ViewData["Action"] = @SharedLocalizer["CREATE"];
    ViewData["Entity"] = @SharedLocalizer["ENTITY_REQUEST_NAME"];
}

@section PreForm {
    <dl class="row">
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Activity.Result.Project)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Activity.Result.Project.Name)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.Activity.Result)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Activity.Result.Code)
            @Html.DisplayFor(model => model.Activity.Result.Description)
        </dd>
        <dt class="col-sm-3 col-lg-2">
            @Html.DisplayNameFor(model => model.SpendingRequest.Activity)
        </dt>
        <dd class="col-sm-9 col-lg-10">
            @Html.DisplayFor(model => model.Activity.Code)
            @Html.DisplayFor(model => model.Activity.Description)
        </dd>
    </dl>
}

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="col-12">
    <label asp-for="SpendingRequest.Description" class="form-label"></label>
    <input asp-for="SpendingRequest.Description" class="form-control" aria-describedby="request-description-help" />
    <div id="request-description-help" class="form-text">
        @Localizer["REQUEST_DESCRIPTION_HELP"]
    </div>
    <span asp-validation-for="SpendingRequest.Description" class="text-danger"></span>
</div>
<h2 class="h5">@Localizer["TRIP_INFORMATION_HEADING"]</h2>
<div class="alert alert-warning" role="alert">
    @Localizer["REQUEST_TRIP_INFORMATION_HELP"]
</div>
<div class="col-sm-6">
    <label asp-for="SpendingRequest.Trip.Driver" class="form-label"></label>
    <input asp-for="SpendingRequest.Trip.Driver" class="form-control" />
    <span asp-validation-for="SpendingRequest.Trip.Driver" class="text-danger"></span>
</div>
<div class="col-sm-6">
    <label asp-for="SpendingRequest.Trip.Destination" class="form-label"></label>
    <input asp-for="SpendingRequest.Trip.Destination" class="form-control" />
    <span asp-validation-for="SpendingRequest.Trip.Destination" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="SpendingRequest.Trip.VehicleId" class="form-label"></label>
    <select asp-for="SpendingRequest.Trip.VehicleId" class="form-select" asp-items="@Model.VehicleSL">
        <option value="">@Localizer["REQUEST_DEFAULT_VEHICLE_ITEM"]</option>
    </select>
    <span asp-validation-for="SpendingRequest.Trip.VehicleId" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="SpendingRequest.Trip.Participants" class="form-label"></label>
    <input asp-for="SpendingRequest.Trip.Participants" class="form-control" />
    <span asp-validation-for="SpendingRequest.Trip.Participants" class="text-danger"></span>
</div>
<div class="col-12">
    <label asp-for="SpendingRequest.Trip.SelectedDatesInput" class="form-label"></label>
    <div class="input-group">
        <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
        <input asp-for="SpendingRequest.Trip.SelectedDatesInput" class="form-control" />
    </div>
    <span asp-validation-for="SpendingRequest.Trip.SelectedDates" class="text-danger"></span>
</div>
<div class="col-12">
    <create-button></create-button>
    <cancel-button asp-page="/Requests/Index"></cancel-button>
</div>

@section FormCSS {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/css/bootstrap-datepicker.min.css"
          integrity="sha512-34s5cpvaNG3BknEWSuOncX28vz97bRI59UnVtEEpFX536A7BtZSJHsDyFoCl8S7Dt2TPzcrCEoHBGeM4SUBDBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
}


@section FormScripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.10.0/js/bootstrap-datepicker.min.js"
            integrity="sha512-LsnSViqQyaXpD4mBBdRYeP6sRwJiJveh2ZIbW41EBrNmKxgr/LFZIiWT6yr+nycvhvauz8c2nYMhrP80YhG7Cw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        // Initialize the datepicker
        $(document).ready(function () {
            $('#SpendingRequest_Trip_SelectedDatesInput').datepicker({
                format: 'yyyy-mm-dd',
                multidate: true
            });
        });
    </script>
}