@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model IndexModel

@{
    ViewData["Title"] = @Localizer["PAGE_TITLE"];
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<p> @Localizer["PAGE_DESCRIPTION"]</p>

<p><a class="btn btn-primary" asp-page="SelectProject">@Localizer["BUTTON_CREATE_REQUEST"]</a></p>

<h2>@Localizer["TITLE_CREATED_REQUESTS"]</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Created).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Created))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <a class="btn btn-primary btn-sm" asp-page="Details" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_DETAILS"]</a>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        @Localizer["NO_REQUEST_ALERT"]
    </div>
}

<h2>@Localizer["TITLE_SUBMITTED_REQUESTS"]</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Submitted).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Submitted))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <a class="btn btn-primary btn-sm" asp-page="Details" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_DETAILS"]</a>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        @Localizer["NO_REQUEST_ALERT"]
    </div>
}

<h2>@Localizer["TITLE_APPROVED_REQUESTS"]</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Approved).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Approved))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <a class="btn btn-primary btn-sm" asp-page="Details" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_DETAILS"]</a>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        @Localizer["NO_REQUEST_ALERT"]
    </div>
}

<h2>@Localizer["TITLE_VERIFICATION_REQUESTS"]</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Verification).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Verification))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <a class="btn btn-primary btn-sm" asp-page="Details" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_DETAILS"]</a>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        @Localizer["NO_REQUEST_ALERT"]
    </div>
}

<h2>@Localizer["TITLE_COMPLETED_REQUESTS"]</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Completed).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Completed))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <a class="btn btn-primary btn-sm" asp-page="Details" asp-route-id="@item.Id">@SharedLocalizer["BUTTON_DETAILS"]</a>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        @Localizer["NO_REQUEST_ALERT"]
    </div>
}
