@page
@model IndexModel

@{
    ViewData["Title"] = "Spending Requests";
}

<h1 class="pb-2 border-bottom">@ViewData["Title"]</h1>

<p>To use the budget, start by creating a Spending Request.</p>

<p><a class="btn btn-primary" asp-page="SelectProject">Create request</a></p>

<h2>Created requests</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Created).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Created))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        There are no requests with this status.
    </div>
}

<h2>Submitted requests</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Submitted).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Submitted))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        There are no requests with this status.
    </div>
}

<h2>Approved requests</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Approved).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Approved))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        There are no requests with this status.
    </div>
}

<h2>Requests waiting verification</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Verification).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Verification))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        There are no requests with this status.
    </div>
}

<h2>Completed requests</h2>

@if (Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Completed).Any())
{
    <table class="table table-sm table-bordered table-striped caption-top">
        <caption>Created spending requests</caption>
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].Activity)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].CreatedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SpendingRequests[0].ModifiedDate)
                </th>
                <th style="width: 1px; white-space:nowrap;"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SpendingRequests.Where(r => r.Status == Models.RequestStatus.Completed))
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Activity.Code)
                        @Html.DisplayFor(modelItem => item.Activity.Description)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.ModifiedDate)
                    </td>
                    <td class="align-middle">
                        <table-buttons>
                            <details-button asp-page="Details" asp-route-id="@item.Id"></details-button>
                            <delete-button asp-page="Delete" asp-route-id="@item.Id"></delete-button>
                        </table-buttons>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-light" role="alert">
        There are no requests with this status.
    </div>
}
