@page
@model SelectActivityModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = "Activities";
}

@section Introduction {
    <p>Select the activity for this request.</p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Activities[0].Code)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Activities[0].Description)
    </th>
}

@foreach (var item in Model.Activities)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="align-middle">
            <table-buttons>
                <a class="btn btn-primary btn-sm" asp-page="./Create" asp-route-activity="@item.Id">Select</a>
            </table-buttons>
        </td>
    </tr>
}
