@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model SelectActivityModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = @Localizer["PAGE_TITLE"];
}

@section Introduction {
    <p>@Localizer["PAGE_DESCRIPTION"]</p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Activities[0].Code)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Activities[0].Description)
    </th>
}

@foreach (var item in Model.Activities)
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="align-middle">
            <table-buttons>
                <a class="btn btn-primary btn-sm" asp-page="./Create" asp-route-activity="@item.Id">@SharedLocalizer["BUTTON_SELECT"]</a>
            </table-buttons>
        </td>
    </tr>
}
