@page
@inject IStringLocalizer<Resources.SharedResource> SharedLocalizer
@inject IViewLocalizer Localizer
@model SelectProjectModel

@{
    Layout = "/Pages/Shared/_IndexLayout.cshtml";
    ViewData["Title"] = @Localizer["PAGE_TITLE"];
}

@section Introduction {
    <p>@Localizer["PAGE_DESCRIPTION"]</p>
}

@section TableHeaders {
    <th>
        @Html.DisplayNameFor(model => model.Projects[0].Segment)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Projects[0].Name)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.Projects[0].ShortName)
    </th>
}

@foreach (var item in Model.Projects.Where(p => p.IsActive))
{
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Segment)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.ShortName)
        </td>
        <td class="align-middle">
            <table-buttons>
                <a class="btn btn-primary btn-sm" asp-page="./SelectActivity" asp-route-project="@item.Id">@SharedLocalizer["BUTTON_SELECT"]</a>
            </table-buttons>
        </td>
    </tr>
}
